/*? Rubik Regular */

@font-face {
  font-family: 'Rubik';
  src: url(./../../public/fonts/Rubik-Regular.woff2) format(woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/*? Rubik Medium */

@font-face {
  font-family: 'Rubik';
  src: url(./../../public/fonts/Rubik-Medium.woff2) format(woff2);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

/*? Rubik Bold */

@font-face {
  font-family: 'Rubik';
  src: url(./../../public/fonts/Rubik-Bold.woff2) format(woff2);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}